body{
    background-color: #e5e5e5 !important;
}
.booking .booking-head{
    background-color: #ff3200; 
    width: 100%;
    height: 75px;
}
.booking .nav-tabs{
    background-color: #ff3200;    
    border:3px solid #ff3200;
    border-bottom: white;
}
.booking .nav-link{
    color: white;
    font-weight: bolder;
    font-size: 18px;
}

.booking .nav-link:hover{
    border: none;
    transform: scale(1.1);
    color: white;
}

.booking .nav-link.active{
    border: none;
    color: black;
    transform: none;
    height: 75px;
    
}
.booking .tab-content{
    background-color: white;
    height: 550px;
}
.booking .tab-pane {
    border:1px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* table */
.booking .table{
    font-weight: bolder;
    text-align: center;
}
.booking thead{
    background-color: #ff6400;
    color: white;
    
}
.booking .confirm{
    border:1px solid black;
    color: white;
    background-color: #ff6400;
}
.booking .refund{
    border:1px solid black;
    color: white;
    background-color: #ff3200;
}
.booking .form-control{
    margin-right: 10px;
}

.booking .tab-content .btn-inner a {
    color: #ff6400;
    text-decoration: underline;
}
.booking .tab-content .btn-inner:hover a {
    color: black;
   transform: scale(1.2);
   text-decoration: underline;
}
/* confirm book */
.modal-content{
    padding: 10px;
}
.modal-content  h2{
    margin-bottom: 15px;
    color: #ff6400;
}
.modal-content .content{
    font-weight: 400;
   
}
.modal-content input{
    border: none;
    font-weight: bolder;
    
}
.modal-content .passenger-details1 input{
    text-align: right;
}
.modal-content input:focus{
    outline: none;
}

.modal-content .screenshot{
    width: 100%;
    height: 450px;
    border: 1px solid #ff6400;
    margin-bottom: 15px;
}

.modal-content .screenshot #imgUploaded{
    width: 100%;
    height: 450px;
    object-fit: contain;
    object-position: center;
}
.modal-content .btn-confirm{
    color: white;
    background-color:#ff6400;
    border: 1px solid #ff6400;
}
.modal-content .btn-cancel{
    color: #ff6400;
    background-color: none ;
    border:  1px solid #ff6400;
    text-decoration: none;
}
.modal-content .btn-cancel:hover,
.modal-content .btn-confirm:hover{
    transform: scale(1.1);
}

/* saved book */
.modal-content .btn-close{
    font-size: 25px;
}