body{
    background-color: #ffffff !important;
    /* overflow: hidden; */
}
.forecasting {
    font-size: 18px;
}
.forecasting .forecasting-head{
    background-color: #ff3200; 
    width: 100%;
    height: 75px;
}

.forecasting .forecasting-head h3{
    color: #ffffff;
}

#forecast_tbl .btn-inner{
    width: 50px !important;
}

.select2-container .select2-selection--single {
    padding-top: 6px;
    height: 40px !important;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}