/* Body */
body{
    background-image: url('/images/landing-background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
body::before{
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    z-index: -1;
}
/* .app{
    position: relative;
    z-index: 10;
} */

/* .find-bus-section{
    margin-top: 100px;
} */

.find-bus-section  .inner-content{
    background-color:#ffffff;
    padding: 20px;
    border-radius: 10px;
}
.find-bus-section  .head-content{
    background-color: #ff6400;
    width: fit-content;
    padding: 10px 65px 10px 30px;
    margin-top: -20px;
    margin-left: -20px;
    color: #ffffff;
    border-radius: 10px 0 100px 0;
}
.find-bus-section  .head-content .h3{
    margin: 0;
}
.find-bus-section  .input-form{
    margin: 20px 0px 0px 0px;
    
}
.find-bus-section  input{
    width: 100%;
    font-size: 18px;
    padding: 0.375rem 0.75rem;
    border-radius: 0 9px 9px 0;
    border: 2px solid #e6e6e6;
}
.find-bus-section  input[type="date"]{
    margin-right: 15px;
}
.find-bus-section  .text{
    width: 100%;
    color:#ff6400;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10 20px;
    border-radius: 9px 9px 0 0 ;
    font-weight: bolder;
}
.find-bus-section  .icon{
    width: 20px;
    color:#ff6400;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 10 20px;
    border-radius: 9px  0 0 9px  ;
}
.find-bus-section  .form-nav button{
    background-color: #ff6400;
    border: none;
    font-size: 18px ;
    font-weight: bolder;
    margin-top: 30px;
    padding: 10px 60px;
    border-radius: 50px;
    color: #ffffff;
}
.find-bus-section  .form-nav button:hover{
    transform: scale(1.1);
    background-color:  #ff6400;
    color: #ffffff;
}
.find-bus-section  .form-nav a{
    color: white;
    text-decoration: none;
}
.find-bus-section select{
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
}
.find-bus-section .from .cmb-ttl
.find-bus-section .to .cmb-ttl{
    font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Schedul of Bus */
.sched-bus .table{
    background-color: white;
    text-align: center;
}
.sched-bus thead{
    background-color: #ff3200;
    color: #ffffff;
}

/* modal */
.brs-busseat-modal .content{
    margin-bottom: 1px;
}
.brs-busseat-modal .pass-details,
.brs-busseat-modal .bus-details{
    margin-top: 20px;
}

.grp-seats ul{
    list-style: none;
}

.grp-seats .grp-inner{
    position: relative;
    text-align: center;
}

.grp-seats .icon-seat{
    background-color: #b1b1b1;
    width: 40px;
}

.grp-seats .seat-nbr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.grp-seats .bus-hallway{
    width: 40px;
}

.modal-content  #bus_class,
.modal-content  #wifi,
.modal-content  #tv,
.modal-content  #seat_no,
.modal-content  #origin_confirmation,
.modal-content  #destination_confirmation,
.modal-content  #departure,
.modal-content  #date_confirmation,
.modal-content  #fare,
.modal-content  #discount,
.modal-content  #totalFare{
    border:none;
    text-align:right;
}

.modal-content .price .line{
    background-color: black;
    width: auto;
    height:2px;
}
.modal-content  #fare{
    font-weight: bolder;
}
.modal-content  #totalFare{
    font-weight: bolder;
    height: auto;
    font-size: 25px;
    border:2px solid black;
    border-left:  none;
    border-right: none;
    border-bottom: none;
}
.modal-content .btn-book,
.modal-content .btn-cancel{
    color: white;
    background-color: #ff6400 ;

}

/* CSS Style when Seat is selected */
.grp-seats a.selected .icon-seat{
    background-color: #ff6400 !important;
}

.grp-seats a.selected .seat-nbr{
    color: #ffffff;
}