.listofbus .bus-box{
    background-color: white;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 3px 5px 3px rgb(0, 0, 0, 0.3);
    margin: 15px;
    padding: 9px;
}

.listofbus .bus-box img{
    height: 190px;
    width: 190px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.listofbus .bus-box .bus-info{
    margin-left: 15px
}

.listofbus .bus-box .bus-category{
    background-color: #ff3200;
    width: max-content;
    font-weight: 700;
    padding: 10px 65px 10px 30px;
    margin-top: -10px;
    margin-right: -10px;
    color: #ffffff;
    border-radius: 0 0px 0 100px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.listofbus .bus-box .bus-name{
    margin-top: 26px;
    font-size: 25px;
    font-weight: 900;
    font-family: Poppins-Bold, sans-serif;
    text-transform: uppercase;
}

.listofbus .bus-box .bus-features{
    margin-top: 15px;
}

.listofbus .bus-box .bus-features .li-feat{
    font-size: 16px;
}

.listofbus .bus-features .li-feat .icon{
    width: 20px;
}

.listofbus .bus-box .ratings{
    margin-top: 20px;
}

.listofbus .bus-box .ratings span{
    font-size: 25px;
    color: #ff6400;
}

.listofbus .box-footer{
    margin-top: 20px;
}

.listofbus .dep-time{
    font-size: 22px;
}

.listofbus .bus-price .price{
    font-size: 35px;
}

.listofbus .bus-price button{
    font-size: 19px;
    border: none;
    border-radius: 9px;
    padding: 6px 35px;
    background-color: #ff6400;
    color: #ffffff;
    font-weight: 500;
}

.listofbus .bus-price button:hover{
    opacity: 0.9;
    box-shadow: 0px 1px 6px 3px rgba(248, 60, 3, 0.6);
}

/* Side Bar panel  */
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 5px 10px;
    border: none;
}

.openbtn:hover {
    background-color:#444;
}

/* Modal */
/* #confirmationmodal{
} */



.modal .modal-content  {
    background-color: #ffffff;
    height: 500px;
}
.modal .confimation-header{
    padding:10px 0 0 30px;
}
.modal .ratings span{
    font-size: 25px;
    color: #ff6400;
}
.modal .bus-features .icon{
    color:#ff6400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 0 20px;
}
.modal .ticket-option{
    box-shadow: -5px 0px 40px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px 0px 40px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -55px 0px 40px -15px rgba(0,0,0,0.75);
    height: 500px;
}

.modal img{
    width: 400px;
    padding: 5px 0 5px 0;
}
.modal .ticket-content .icon{
    width: 20px;
    color:#ff6400;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 0 20px;
}
.modal .input-form{
    margin-bottom: 15px;
    font-size: 18px;
}
.modal button{
    font-size: 18px;
    padding: 5px 10px
}
.modal  .cancel button{
    color:#ff6400 ;
    background-color: white;
    border: 2px solid #ff6400;
}
.modal .continue button{
    background-color:#ff6400 ;
    color:white;
    border: 2px solid #ff6400;
    
}

