/* Body */
body{
    background-image: url('/images/landing-background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
body::before{
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    z-index: -1;
}
/* .app{
    position: relative;
    z-index: 10;
} */
.find-bus-section{
    margin-top: 100px;
    
}
.find-bus-section  .inner-content{
    background-color:#ffffff;
    padding: 20px;
    border-radius: 10px;
}
.find-bus-section  .head-content{
    background-color: #ff6400;
    width: fit-content;
    padding: 10px 65px 10px 30px;
    margin-top: -20px;
    margin-left: -20px;
    color: #ffffff;
    border-radius: 10px 0 100px 0;
}
.find-bus-section  .head-content .h3{
    margin: 0;
}
.find-bus-section  .input-form{
    margin: 20px 0px 0px 0px;
    
}
.find-bus-section  input{
    width: 100%;
    font-size: 18px;
    padding: 0.375rem 0.75rem;
    border-radius: 0 9px 9px 0;
    border: 2px solid #e6e6e6;
}
.find-bus-section  input[type="date"]{
    margin-right: 15px;
}
.find-bus-section  .text{
    width: 100%;
    color:#ff6400;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10 20px;
    border-radius: 9px 9px 0 0 ;
    font-weight: bolder;
}
.find-bus-section  .icon{
    width: 20px;
    color:#ff6400;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 10 20px;
    border-radius: 9px  0 0 9px  ;
}
.find-bus-section  .form-nav button{
    background-color: #ff6400;
    border: none;
    font-size: 18px ;
    font-weight: bolder;
    margin-top: 30px;
    padding: 10px 60px;
    border-radius: 50px;
}
.find-bus-section  .form-nav button:hover{
    transform: scale(1.1);
    background-color:  #ff6400;
    color: #ffffff;
}
.find-bus-section  .form-nav a{
    color: white;
    text-decoration: none;
}
.find-bus-section select{
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
}
.find-bus-section .from .cmb-ttl
.find-bus-section .to .cmb-ttl{
    font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Schedul of Bus */
.sched-bus .table{
    background-color: white;
    text-align: center;
}
.sched-bus thead{
    background-color: #ff3200;
    color: white;
}
