body{
    background-color: white !important;
}

.payment .payment-inner {
    background-color: white;
}

.payment .opt{
    margin-top: 10px;
}

.payment label{
    width: 100%;
}

.payment img{
    width: 50px;
    height:50px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 6px;
}

.payment .icon-txt{
    font-weight: 600;
    font-size: 20px;
}

.payment .cnt-details p{
    font-weight: 500;
    font-size: 16px;
}

.payment .payment-img{
    padding: 25px;
    padding-top: 15px;
    border: 1px solid #ff6400;
    width: 100%;
    height: 100px;
}
.payment .fa-arrow-circle-down{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #ff3200;
}
.payment .payment-side{
    background-color: #e5e5e5;
    height: 500px;
}



