body{
    background-color: #e5e5e5 !important;
}
.scheduling .scheduling-header{
    background-color: #ff3200; 
    width: 100%;
    height: 75px;
}
.scheduling .add{
    margin-right: 20px;
}
.scheduling .add button{
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
    font-weight: bolder;
    width: 190px;
}
.scheduling .add button:hover{
    transform: scale(1.1);
    margin: 0 10px;
}
.scheduling  .scheduling-content{
    background-color: white;
    text-align: center;
}
.scheduling .table-content{
    margin-top: 35px;
    border: 1px solid black;
    margin-bottom: 35px;
}
.scheduling thead{
    background-color: #ff6400; 
    color: white;
}