@font-face {
    src: url('/fonts/Poppins-Regular.ttf');
    font-family: Poppins-Regular;
}

@font-face {
    src: url('/fonts/Poppins-Medium.ttf');
    font-family: Poppins-Medium;
}

* {
    font-family: Poppins-Regular, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: Poppins-Medium, sans-serif;
    font-weight: 700;
}

.btn{
    font-family: Poppins-Bold, sans-serif;
    font-weight: 700;
}

#admin-app main{
    margin-left: 85px;
}